{% extends 'base.html' %}

{% block title %}{{article.article_title}}{% endblock %}

{% block content %}

<header class="header">
	<div class="container">
		<h1 class="main_title">Блог</h1>
		<nav class="navigation">
			<a class="nav-link" href="{% url 'articles:index' %}">Главная</a>
			<a class="nav-link" href="{% url 'articles:about' %}">О нас</a>
		</nav>
	</div>
</header>

<main class="container">
	<div class="article-main-content">
		<h2 class="detail_main_title">{{article.article_title}}</h2>
		<p class="detail_main_text">{{article.article_text}}</p>
		<time class="detail_main_time">{{article.pub_date}}</time>
	</div>
	<p class="detail_main_title-comment">Комментарии</p>
	
	{% if latest_comments_list %}
	
		{% for c in latest_comments_list %}
			<p>
				<strong>{{c.author_name}}</strong>
				<p>{{c.comment_text}}</p>
			</p>
		{% endfor %}
	
	{% else %}
	Нет комментариев
	{% endif %}
	
	<hr>
	
	<form action="{% url 'articles:leave_comment' article.id %}" method="post" class="comment-form">
		{% csrf_token %}
		<input type="text" required placeholder="Ваше имя" name="name" class="comment-form-input"><br>
		<textarea name="text" required placeholder="Текст комментария" cols="30" rows="10" class="comment-form-textarea"></textarea><br>
		<button type="submit" class="comment-form-button">Оставить комментарий</button>
	</form>
	
</main>
<footer class="footer container">
    <p>Сайт-блог создан в 2024 году</p>
    <p>Читайте наши лучшие статьи</p>
</footer>
{% endblock %}